<ion-view view-title="ACTIVER" class="bg-app">
  <ion-content>


	    
	    	<div class="container-mask">
	    		<div class="helper">
	    			<div class="activer">
					    <label class="toggle toggle-assertive">
					       <input type="checkbox">
					       <div class="track">
					         <div class="handle"></div>
					       </div>
					     </label>
					     <br><br>
					     <p>
					     	En cliquant sur le bouton, vous pouvez<br> pouvez trouver des courses
					     </p>
					</div>
				</div><!--helper-->
			</div><!--container-mask-->
		

  </ion-content>
</ion-view>
