<ion-view view-title="AVIS" class="bg-app">
  <ion-content>
  	<div class="recherche avis">
		<div class="list">

		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i>
		      <i class="ion-ios-star-outline"></i>
		      <p class="commentaire">
		      		J'ai l'habitude d’utiliser beeride au quotidien Super
		      </p>
		    </a>		    

		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i>
		      <i class="ion-ios-star-outline"></i>
		      <p class="commentaire">
		      		J'ai l'habitude d’utiliser beeride au quotidien Super
		      </p>
		    </a>		    

		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i>
		      <i class="ion-ios-star-outline"></i>
		      <p class="commentaire">
		      		J'ai l'habitude d’utiliser beeride au quotidien Super
		      </p>
		    </a>

		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i>
		      <i class="ion-ios-star-outline"></i>
		      <p class="commentaire">
		      		J'ai l'habitude d’utiliser beeride au quotidien Super
		      </p>
		    </a>
		   
		</div>
	</div>	
  </ion-content>
</ion-view>
