<ion-view view-title="AVIS" class="bg-app">
  <ion-content>
  

  		<div class="content-avis padding">
  			<div class="donner-note">
  				<h5>Donner une note</h5>
  				<ul class="list">

				    <li class="item">
				    	<div class="row padding-null">
				    		<div class="col padd-left-null">
						      Texte 01
						    </div>
						    <div class="col padd-right-null" style="text-align: right;">
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-ios-star-outline"></i>
						      <i class="ion-ios-star-outline"></i>
						    </div>
				    </li>		

				    <li class="item">
				    	<div class="row padding-null">
				    		<div class="col padd-left-null">
						      Texte 01
						    </div>
						    <div class="col padd-right-null" style="text-align: right;">
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-ios-star-outline"></i>
						      <i class="ion-ios-star-outline"></i>
						    </div>
				    </li>	

				    <li class="item">
				    	<div class="row padding-null">
				    		<div class="col padd-left-null">
						      Texte 01
						    </div>
						    <div class="col padd-right-null" style="text-align: right;">
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-star star-jaune"></i>
						      <i class="ion-ios-star-outline"></i>
						      <i class="ion-ios-star-outline"></i>
						    </div>
				    </li>	


				</ul>
  			</div><!--donner-note  -->
  			<div class="ajout-avis">
  				<h5>Ajouter un avis</h5>
  				<label class="item item-input">
					<textarea name="comments"></textarea>
				</label>
				<button class="button button-full button-energized button-energized-2">ENVOYER</button>
  			</div><!-- ajout-avis -->
  		</div><!--content-avis-->


  </ion-content>
</ion-view>
