<ion-view view-title="Valider circuit" class="bg-app">
  <ion-content>
    
		<div class="reservation-top padding">
    		<div class="avatar-2">
		      <img src="img/image.png">
		    </div>
			<h2>Alex</h2>
			<h4>Honda</h4>
			<p><em>200cm<SUP>3</SUP></em></p>
			
			<i class="ion-star star-jaune"></i>
			<i class="ion-star star-jaune"></i>
			<i class="ion-star star-jaune"></i>
		    <i class="ion-ios-star-outline"></i>
		    <i class="ion-ios-star-outline"></i>

		    <div class="prix"><h1>30<sup>€</sup></h1></div>
			
		</div>

		<div class="dep-ariv">
			<div class="row padding-null">
				<div class="col padding-null boder">
					<div class="padd-dep-ariv">
					    <h5>Départ</h5>
					    <p>9-11 Boulevard Raspail, 75007 Paris </p>
					</div>
				</div><!--col-->
				<div class="col padding-null boder">
					<div class="padd-dep-ariv">	
					    <h5>arrivée</h5>
					    <p>47 Rue de Bellechasse, 75007 Paris</p>	
					</div>				
				</div><!--col-->
			</div><!--row-->
		</div>

		<div class="padding">
			<div class="date-circuit">
				<div class="bloc-a"><i class="ion-calendar"></i>&nbsp;&nbsp;<span>Mercredi, Jeudi</span></div>
				<div class="bloc-a"><i class="ion-android-time">&nbsp;&nbsp;</i><span>13:00h</span></div>
			</div>
			<button class="button button-full button-valider marg-val">
				valider
			</button>
		</div>
  </ion-content>
</ion-view>
