<ion-view view-title="RESERVATION PAR CIRCUIT" class="bg-app">
  <ion-content>
    

    	<div class="recherche">
    		<div class="padding">
	    		<label class="item item-input input-search">
		          <input type="text" placeholder="Recherche">
		          <i class="icon ion-search placeholder-icon"></i>
		        </label>
		    </div>
		    <div class="reslt padding">
		    	<h4>Résultats de recherche (5)</h4>
		   	</div>
	   		<div class="list">

			    <a class="item item-avatar icone-voir" href="#/app/circuit2">
			      <img src="img/image.png">
			      <h2>Alex</h2>
			      <p>Honda<br>
			      <em>de 55 Quai d'Orsay, 75007 Paris à 9-11 Boulevard Raspail, 75007 Paris</em></p>
			    </a>
			   <a class="item item-avatar icone-voir" href="#/app/circuit2">
			      <img src="img/image.png">
			      <h2>Alex</h2>
			      <p>Honda<br>
			      <em>de 55 Quai d'Orsay, 75007 Paris à 9-11 Boulevard Raspail, 75007 Paris</em></p>
			    </a>
			   <a class="item item-avatar icone-voir" href="#/app/circuit2">
			      <img src="img/image.png">
			      <h2>Alex</h2>
			      <p>Honda<br>
			      <em>de 55 Quai d'Orsay, 75007 Paris à 9-11 Boulevard Raspail, 75007 Paris</em></p>
			    </a>
			   <a class="item item-avatar icone-voir" href="#/app/circuit2">
			      <img src="img/image.png">
			      <h2>Alex</h2>
			      <p>Honda<br>
			      <em>de 55 Quai d'Orsay, 75007 Paris à 9-11 Boulevard Raspail, 75007 Paris</em></p>
			    </a>
			   <a class="item item-avatar icone-voir" href="#/app/circuit2">
			      <img src="img/image.png">
			      <h2>Alex</h2>
			      <p>Honda<br>
			      <em>de 55 Quai d'Orsay, 75007 Paris à 9-11 Boulevard Raspail, 75007 Paris</em></p>
			    </a>
			   
			</div>
		</div>

  </ion-content>
</ion-view>
