
<ion-view view-title="Contactez nous"  >



    <ion-content>

            <div class="content-inscri-1">
                <div class="list">


                        <div class="padding">
	                        <label class="item item-input item-stacked-label item-border">
	                            <span class="input-label input-label-2">Object</span>
	                            <input type="text" class="style-input">
	                        </label>                            
	                    </div>
	                    <div class="padding">
							<label class="item item-input item-stacked-label item-border">
								<span class="input-label input-label-2">Message</span>
							    <textarea  class="style-input style-textarea"></textarea>
							</label>       
						</div>
						<div class="padding">
							<a class="button button-block button-energized button-energized-2" type="submit" >ENVOYER</a>
						</div>

                </div>

            </div>



    </ion-content>
</ion-view>

