<ion-view view-title="HISTORIQUE">
  <ion-content>

	<div class="recherche">
	    <div class="list">

		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <h3 class="price">35€</h3>
		    </a>
		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <h3 class="price">35€</h3>
		    </a>
		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <h3 class="price">35€</h3>
		    </a>
		    <a class="item item-avatar" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p><em>25 septembre 2016</em></p>
		      <h3 class="price">35€</h3>
		    </a>

		</div>
	</div>



  </ion-content>
</ion-view>
