<ion-view view-title="CREER UN COMPTE" class="bg-app">
  <ion-content>

  		<div class="content-inscri-2 padding">

			
  			<input type="file" name="uploadePhoto">




		  	<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Code</span>
				<input type="text" class="style-input">
			</label>
			<!--Code-->
		    
			<div class="row padding-null responsive-sm">
				<div class="col col-50 padd-left-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Prénom</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<div class="col col-50 padd-right-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Nom</span>
						<input type="text" class="style-input">
					</label>
				</div>
			</div>
			<!--row-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Adresse personnel</span>
				<input type="text" class="style-input">
			</label>
			<!--Adresse personnel-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Adresse profesionel</span>
				<input type="text" class="style-input">
			</label>
			<!--Adresse profesionel-->

			<div class="row padding-null responsive-sm">
				<div class="col col-50 padd-left-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Carte bancaire</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<!--Carte bancaire-->
				<div class="col col-50 padd-right-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">CCV</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<!--CCV-->
			</div>
			<!--row-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">...</span>
				<input type="text" class="style-input">
			</label>
			<!--...-->

			<button class="button button-block button-energized button-energized-2" type="submit">ENVOYER</button>
		</div>
		<!--content-inscri-1-->


    </form>

  </ion-content>
</ion-view>


