<ion-view hide-back-button="true" view-title="CREER UN COMPTE" class="bg-app">
  <ion-content>

  		<div class="content-inscri-2 padding">

			<div class="addFile">
	  			<div class="row responsive-sm">
	  				<div class="col">
				    	<img src="img/image-profil.png" class="avatar-upload">
				    </div>
				    <div class="col">
						<button type="file" class="button button-upload">
						  ajouter votre photo
						</button>
					</div>
				</div>
			</div>

		  	<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Code</span>
				<input type="text" class="style-input">
			</label>
			<!--Code-->
		    
			<div class="row padding-null">
				<div class="col col-50 padd-left-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Prénom</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<div class="col col-50 padd-right-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Nom</span>
						<input type="text" class="style-input">
					</label>
				</div>
			</div>
			<!--row-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Adresse personnel</span>
				<input type="text" class="style-input">
			</label>
			<!--Adresse personnel-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">Adresse profesionel</span>
				<input type="text" class="style-input">
			</label>
			<!--Adresse profesionel-->

			<div class="row padding-null">
				<div class="col col-50 padd-left-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">Carte bancaire</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<!--Carte bancaire-->
				<div class="col col-50 padd-right-null">
					<label class="item item-input item-stacked-label item-border marg-top-ins">
						<span class="input-label input-label-2">CCV</span>
						<input type="text" class="style-input">
					</label>
				</div>
				<!--CCV-->
			</div>
			<!--row-->

			<label class="item item-input item-stacked-label item-border marg-top-ins">
				<span class="input-label input-label-2">...</span>
				<input type="text" class="style-input">
			</label>
			<!--...-->

	 <a class="button button-block button-energized button-energized-2" type="submit" ng-href="#/app/circuit">ENVOYER</a>
		</div>
		<!--content-inscri-1-->


    </form>

  </ion-content>
</ion-view>


