<ion-view view-title="CREER UN COMPTE" class="bg-app">
  <ion-content>
  <div class="content-inscri-1">
     <div class="list">
      <div class="row">
       <div class="col col-50">
       <label class="item item-input item-stacked-label item-border">
         <span class="input-label input-label-2">Prénom</span>
         <input type="text" class="style-input">
       </label>
    </div>
    <div class="col col-50">
       <label class="item item-input item-stacked-label item-border">
         <span class="input-label input-label-2">Nom</span>
         <input type="text" class="style-input">
       </label>
    </div>
   </div>
   <div class="padding">
     <label class="item item-input item-stacked-label item-border">
       <span class="input-label input-label-2">Adresse e-mail</span>
       <input type="text" class="style-input">
     </label> 
   </div>  

  <div class="row">
    <div class="col col-25">
     <label class="item item-input item-stacked-label item-border item-select">
       <span class="input-label input-label-2">Mobile</span>
       <select class="item-select-2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
       </select>
     </label>   
    </div>
    <div class="col">
   <label class="item item-input item-stacked-label item-border">
       <!--<span class="input-label input-label-2">Mobile</span>-->
       <input type="text" class="style-input marg-1">
     </label> 
    </div>
  </div>   
     
  <div class="padding">
      <label class="item item-input item-stacked-label item-border">
      <span class="input-label input-label-2">Mot de passe</span>
      <input type="password" class="style-input">
    </label>

  
   <a ng-href="#/app/inscription2" class="button button-full button-stable btn-suivant" >
     SUIVANT
   </a>


   <button class="button button-full button-energized button-energized-2"><i class="ion-social-facebook"></i>&nbsp;&nbsp;Se connecter avec facebook</button>
  </div>

  </div>

 </div> 
 
  </ion-content>
</ion-view>
