<ion-view view-title="Login" name="login-view" class="bg-login">
    <ion-content class="padding">
        
        <center><img src="img/logo.png" width="30%"></center>
        
        
        <div class="list">
            <label class="item item-input ion-email">
                <input type="text" placeholder="login">
                    </label>
            <label class="item item-input ion-email">
                <input type="text" placeholder="Email">
                    </label>
            <label class="item item-input ion-key">
                <input type="text" placeholder="Mot de passe">
                    </label>
            
            <button class="button button-block button-positive button-assertive">
                Se connecter
            </button>
            <button class="button button-block button-positive button-assertive">
                Créez un compte
            </button>
            <button class=" button button-block button-positive button-assertive btn-seconnect-fb">
                Se connecter avec facebook
            </button>
            
            <a class="mdp-oublier" href="#"><span>Mot de passe oublié?&nbsp;</span>CLICER ICI</a>
            
        </div>
        
    </ion-content>
</ion-view>