<ion-view view-title="Login" name="login-view" class="bg-login">
	<ion-content class="padding">
		<div class="container login-class padd-log">
			<img src="img/logo.png">
			<div class="list">
				<label class="item item-input log">
					<span class="input-label"><img src="img/icone-login.png"></span>
					<input type="text" placeholder="LOGIN">
				</label>
				
				<label class="item item-input pass">
					<span class="input-label"><img src="img/icone-password.png"></span>
					<input type="password" placeholder="MOT DE PASSE">
				</label>

				<button class="button button-full button-stable btn-seconnect marg-1">
				  Se connecter
				</button>
				<button class="button button-full button-stable btn-seconnect marg-2">
				  créer un compte
				</button>
				<button class="button button-full button-stable btn-seconnect-fb">
				  <i class="ion-social-facebook"></i>&nbsp;&nbsp;Se connecter avec facebook
				</button>
				<a class="mdp-oublier" href="#"><span>Mot de passe oublié?&nbsp;</span>CLICER ICI</a>
				
			</div>
		</div>
	</ion-content>
</ion-view>