<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"  >
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left"  ng-hide="hideLeft">
    <ion-content>
      <ion-list>

        <ion-item menu-close href="#/app/rechercheMap" >
          <img src="img/menu-recherche.png"><br>
          Recherche
        </ion-item>        
        <ion-item menu-close href="#/app/profil">
          <img src="img/menu-profil.png"><br>
          Mon profil
        </ion-item>
        <ion-item menu-close href="#/app/circuit">
          <img src="img/menu-profil.png"><br>
          Circuit
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          <img src="img/menu-recherche.png"><br>
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <img src="img/menu-recherche.png"><br>
          Playlists
        </ion-item>
        <ion-item menu-close href="#/app/inscription">
          inscription
        </ion-item>

        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
