
<ion-view view-title="SE PLAINDRE"  >



    <ion-content>

            <div class="content-inscri-1">
                <div class="list">

	                    <div class="padding">
                            <label class="item item-input item-stacked-label item-border item-select">
                                <span class="input-label input-label-2">Select</span>
                                <br>
                                <select name="service_id" class="item-select-2">
                                    <option value="valeur 1">valeur 1</option>
                                    <option value="valeur 2">valeur 2</option>
                                    <option value="valeur 3">valeur 3</option>
                                    <option value="valeur 4">valeur 4</option>
                                </select>
                            </label>
                        </div>
                        <div class="padding">
	                        <label class="item item-input item-stacked-label item-border">
	                            <span class="input-label input-label-2">Object</span>
	                            <input type="text" class="style-input">
	                        </label>                            
	                    </div>
	                    <div class="padding">
							<label class="item item-input item-stacked-label item-border">
								<span class="input-label input-label-2">Message</span>
							    <textarea  class="style-input style-textarea"></textarea>
							</label>       
						</div>
						<div class="padding">
							<a class="button button-block button-energized button-energized-2" type="submit" >ENVOYER</a>
						</div>

                </div>

            </div>



    </ion-content>
</ion-view>

