
<ion-view view-title="Fidelité"  >



    <ion-content>

            <div class="content-inscri-1">
                <div class="list">


                        <div class="padding">
							<center><h2>BeeRide</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla ligula est, quis tincidunt eros hendrerit eu. Nullam consectetur justo urna, eget ultrices elit venenatis eget. Nullam aliquam lacus vitae leo rutrum pulvinar. Vestibulum vestibulum vitae enim vel vestibulum. Etiam eget mi ex. Aenean scelerisque accumsan magna eget euismod. In eu lorem a leo porta tristique. Integer volutpat mi et nisl sollicitudin, vel vulputate sem hendrerit. Sed at tincidunt ante. Sed ac ante at nunc iaculis ullamcorper eu non erat. Cras quis convallis eros. Etiam varius viverra eros vitae fermentum. Maecenas ut egestas urna, eget cursus velit. Aliquam iaculis id nisl ac tincidunt. Donec tincidunt non sem sed maximus. </p>
							</center>
                         </div>

            </div>
			</div>


    </ion-content>
</ion-view>

