<ion-view view-title="RESERVER" class="bg-app">
  <ion-content>

    	<div class="reservation-top padding">
    		<div class="avatar-2">
		      <img src="img/image.png">
		    </div>
			<h2>Alex</h2>
			<h4>Honda</h4>
			<p><em>200cm<SUP>3</SUP></em></p>
			
			<i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
			<a class="button button-full button-black" ng-href="#/app/avis">
				voir tous les avis
			</a>
		</div>

		<div class="galerie-photos">
			<div class="row padding-null">
				<div class="col padding-null">
					<img src="img/moto-1.jpg">
				</div>
				<div class="col padding-null">
					<img src="img/moto-1.jpg">
				</div>
				<div class="col padding-null">
					<img src="img/moto-1.jpg">
				</div>
			</div>
		</div>

		<div class="reservation-bottom padding">
			<div class="parag">
				<p>
					Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500
				</p>
			</div>
			<center><h1>30<sup>€</sup></h1></center>
			
			<label class="item item-input input-propose">
			    <input type="text" placeholder="propose...">
			</label>
			<button class="button button-full button-valider">
				valider
			</button>
		</div>
  </ion-content>
</ion-view>