<ion-view view-title="Resultat recherche" class="bg-app">
  <ion-content>
  	<div class="recherche">
	    <div class="list">

		    <a class="item item-avatar icone-voir" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p>Honda<br>
		      <em>200cm<SUP>3</SUP></em></p>
		      <i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
		    </a>
		   
		   

		    <a class="item item-avatar icone-voir" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p>Honda<br>
		      <em>200cm<SUP>3</SUP></em></p>
		      <i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
		    </a>
		   
		   

		    <a class="item item-avatar icone-voir" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p>Honda<br>
		      <em>200cm<SUP>3</SUP></em></p>
		      <i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
		    </a>
		   
		   

		    <a class="item item-avatar icone-voir" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p>Honda<br>
		      <em>200cm<SUP>3</SUP></em></p>
		      <i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
		    </a>
		   
		   

		    <a class="item item-avatar icone-voir" href="#/app/reserver">
		      <img src="img/image.png">
		      <h2>Alex</h2>
		      <p>Honda<br>
		      <em>200cm<SUP>3</SUP></em></p>
		      <i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i><i class="ion-star star-jaune"></i>
		      <i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i>
		    </a>
		   
		   

		</div>
	</div>
  </ion-content>
</ion-view>


